---
title: Optimal Decision Making
author: Caitlin Baxter
date: '2023-04-01'
description: "Optimal Decision Making"
format: html
---

In [1]:
# Part 1: Data Access
import pandas as pd
url = "https://gitlab.com/labsysmed/dissecting-bias/-/raw/master/data/data_new.csv?inline=false"
df = pd.read_csv(url)

df.head()

,risk_score_t,program_enrolled_t,cost_t,cost_avoidable_t,bps_mean_t,ghba1c_mean_t,hct_mean_t,cre_mean_t,ldl_mean_t,race,...,trig_min-high_tm1,trig_min-normal_tm1,trig_mean-low_tm1,trig_mean-high_tm1,trig_mean-normal_tm1,trig_max-low_tm1,trig_max-high_tm1,trig_max-normal_tm1,gagne_sum_tm1,gagne_sum_t
0,1.987430,0,1200.0,0.0,NaN,5.4,NaN,1.110000,194.0,white,...,0,0,0,0,0,0,0,0,0,0
1,7.677934,0,2600.0,0.0,119.0,5.5,40.4,0.860000,93.0,white,...,0,1,0,0,1,0,0,1,4,3
2,0.407678,0,500.0,0.0,NaN,NaN,NaN,NaN,NaN,white,...,0,0,0,0,0,0,0,0,0,0
3,0.798369,0,1300.0,0.0,117.0,NaN,NaN,NaN,NaN,white,...,0,0,0,0,0,0,0,0,0,0
4,17.513165,0,1100.0,0.0,116.0,NaN,34.1,1.303333,53.0,white,...,0,0,0,0,0,0,0,0,1,1

In [17]:
# Part B: Reproduce Figure 1

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns


b_subset = df.loc[df["race"] == "black"]
b_percentiles = np.percentile(b_subset["risk_score_t"].values, np.arange(0, 100))

w_subset = df.loc[df["race"] == "white"]
w_percentiles = np.percentile(w_subset["risk_score_t"].values, np.arange(0, 100))

b_mean_c_i = []
w_mean_c_i = []

for i in range(0, 100):
    b_indices = np.where(b_subset["risk_score_t"].values >= i & b_subset["risk_score_t"].values < i+1)
    b_mean = np.mean(b_subset[b_indices].mean())
    b_mean_c_i.append(b_mean)

    w_indices = np.where(w_subset["risk_score_t"].values >= i & w_subset["risk_score_t"].values < i+1)
    w_mean = np.mean(w_subset[w_indices].mean())
    w_mean_c_i.append(w_mean)

plt.plot(X = b_percentiles, y = b_mean_c_i)
plt.show

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''